body{
    background-color: beige;
}

.navbar {
    margin-bottom: 0;
}

.navbar-brand img{
    margin-top: -5px;
    
}
.navbar-brand *{
    color: aqua;
    font-size: 20px;
}

.jumbotron{
    height: 200px;
    overflow: hidden;
    background-color: aquamarine;
}
.jumbotron #details{
    margin-top: 10px;
    position: absolute;
}

.jumbotron #details span{
    font-size: 15px;
    color: aqua;
    
}

.jumbotron #details *{
    color: white;
}

.jumbotron img{
    margin-top: -15px;
    position: inherit;
    width: 100%;
}


.widget{
    margin-top: 20px;
}

.popular{
    background: white;
    padding: 20px;
    border-radius: 10px;
}
.popular img{
    width: 100%;
    margin-top: 20px;
}

.popular .details{
    margin-left: -20px;
}

.popular ul li{
    list-style: none
}

.recent{
    background: white;
    padding: 20px;
    border-radius: 10px;
}
.recent img{
    width: 100%;
    margin-top: 20px;
}

.recent .details{
    margin-left: -20px;
}

.social{
    background: white;
    padding: 20px;
    border-radius: 10px;
    
}

.social img{
    width: 100%;
}


